/*ntipa nfont*/
.nf1{
	font-size: 1em;
	vertical-align: middle;
}
.nf1-5{
	font-size: 1.5em;
	vertical-align: middle;
}

.nf2{
	font-size: 2em;	
	vertical-align: middle;
}
.nf2-5{
	font-size: 2.5em;
	vertical-align: middle;	
}

.nf3{
	font-size: 3em;
	vertical-align: middle;	
}
.nf4{
	font-size: 4em;	
	vertical-align: middle;
}
.nf-fw {
	width: 1.28571429em;
	vertical-align: middle;
}

@media (max-width:480px){	

	.nf3{
		font-size: 1.5em;
		vertical-align: middle;	
	}
	.nf4{
		font-size: 2em;	
		vertical-align: middle;
	}
	.nf-fw {
		width: 1.28571429em;
		vertical-align: middle;
	}


}