@font-face {
	font-family: 'ntipafont';
	src:url('fonts/ntipafont.eot?ia5vt5');
	src:url('fonts/ntipafont.eot?#iefixia5vt5') format('embedded-opentype'),
		url('fonts/ntipafont.woff?ia5vt5') format('woff'),
		url('fonts/ntipafont.ttf?ia5vt5') format('truetype'),
		url('fonts/ntipafont.svg?ia5vt5#ntipafont') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="nf-"], [class*=" nf-"] {
	font-family: 'ntipafont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.nf-user_occhiale:before {
	content: "\e6fb";
}

.nf-seleziona-bg:before {
	content: "\e6fc";
}

.nf-cerca-bg:before {
	content: "\e6fd";
}

.nf-modifica:before {
	content: "\e62b";
}

.nf-modifica_conversazione:before {
	content: "\e6f9";
}

.nf-user_pieno:before {
	content: "\e6fa";
}

.nf-letto:before {
	content: "\e6f3";
}

.nf-elimina-conversazione:before {
	content: "\e6f4";
}

.nf-aggiungi-conversazione:before {
	content: "\e6f5";
}

.nf-sottrai:before {
	content: "\e6f6";
}

.nf-or:before {
	content: "\e6f7";
}

.nf-and:before {
	content: "\e6f8";
}

.nf-tel:before {
	content: "\e6f2";
}

.nf-lock:before {
	content: "\e6f1";
}

.nf-upload-db-dropdown:before {
	content: "\e611";
}

.nf-ntipa-marchio .path1:before {
	content: "\e6eb";
	color: rgb(255, 255, 255);
}
.nf-ntipa-marchio .path2:before {
	content: "\e6ec";
	margin-left: -0.6669921875em;
	color: rgba(0, 148, 191, 0.6);
}
.nf-ntipa-marchio .path3:before {
	content: "\e6ed";
	margin-left: -0.6669921875em;
	color: rgba(0, 148, 191, 0.8);
}
.nf-ntipa-marchio .path4:before {
	content: "\e6ee";
	margin-left: -0.6669921875em;
	color: rgba(0, 148, 191, 0.4);
}
.nf-ntipa-marchio .path5:before {
	content: "\e6ef";
	margin-left: -0.6669921875em;
	color: rgba(12, 119, 184, 0.7);
}

.nf-ntipa-logo .path1:before {
	content: "\e659";
	color: rgb(255, 255, 255);
}
.nf-ntipa-logo .path2:before {
	content: "\e65a";
	margin-left: -2.830078125em;
	color: rgba(0, 148, 191, 0.6);
}
.nf-ntipa-logo .path3:before {
	content: "\e65b";
	margin-left: -2.830078125em;
	color: rgba(0, 148, 191, 0.8);
}
.nf-ntipa-logo .path4:before {
	content: "\e65c";
	margin-left: -2.830078125em;
	color: rgba(0, 148, 191, 0.4);
}
.nf-ntipa-logo .path5:before {
	content: "\e65d";
	margin-left: -2.830078125em;
	color: rgba(12, 119, 184, 0.7);
}
.nf-ntipa-logo .path6:before {
	content: "\e65e";
	margin-left: -2.830078125em;
	color: rgb(0, 77, 119);
}
.nf-ntipa-logo .path7:before {
	content: "\e65f";
	margin-left: -2.830078125em;
	color: rgb(0, 77, 119);
}
.nf-ntipa-logo .path8:before {
	content: "\e660";
	margin-left: -2.830078125em;
	color: rgb(0, 77, 119);
}
.nf-ntipa-logo .path9:before {
	content: "\e661";
	margin-left: -2.830078125em;
	color: rgb(0, 77, 119);
}
.nf-ntipa-logo .path10:before {
	content: "\e662";
	margin-left: -2.830078125em;
	color: rgb(0, 77, 119);
}

.nf-ntipa-time .path1:before {
	content: "\e663";
	color: rgb(255, 255, 255);
}
.nf-ntipa-time .path2:before {
	content: "\e664";
	margin-left: -3.138671875em;
	color: rgb(255, 255, 255);
}
.nf-ntipa-time .path3:before {
	content: "\e665";
	margin-left: -3.138671875em;
	color: rgb(255, 255, 255);
}
.nf-ntipa-time .path4:before {
	content: "\e666";
	margin-left: -3.138671875em;
	color: rgba(125, 34, 121, 0.4);
}
.nf-ntipa-time .path5:before {
	content: "\e667";
	margin-left: -3.138671875em;
	color: rgba(125, 34, 121, 0.4);
}
.nf-ntipa-time .path6:before {
	content: "\e668";
	margin-left: -3.138671875em;
	color: rgba(125, 34, 121, 0.8);
}
.nf-ntipa-time .path7:before {
	content: "\e669";
	margin-left: -3.138671875em;
	color: rgb(125, 34, 121);
}
.nf-ntipa-time .path8:before {
	content: "\e66a";
	margin-left: -3.138671875em;
	color: rgba(125, 34, 121, 0.6);
}
.nf-ntipa-time .path9:before {
	content: "\e66b";
	margin-left: -3.138671875em;
	color: rgb(103, 103, 103);
}
.nf-ntipa-time .path10:before {
	content: "\e66c";
	margin-left: -3.138671875em;
	color: rgb(103, 103, 103);
}
.nf-ntipa-time .path11:before {
	content: "\e66d";
	margin-left: -3.138671875em;
	color: rgb(103, 103, 103);
}
.nf-ntipa-time .path12:before {
	content: "\e66e";
	margin-left: -3.138671875em;
	color: rgb(103, 103, 103);
}
.nf-ntipa-time .path13:before {
	content: "\e66f";
	margin-left: -3.138671875em;
	color: rgb(103, 103, 103);
}
.nf-ntipa-time .path14:before {
	content: "\e670";
	margin-left: -3.138671875em;
	color: rgb(125, 34, 121);
}
.nf-ntipa-time .path15:before {
	content: "\e671";
	margin-left: -3.138671875em;
	color: rgb(125, 34, 121);
}
.nf-ntipa-time .path16:before {
	content: "\e672";
	margin-left: -3.138671875em;
	color: rgb(125, 34, 121);
}
.nf-ntipa-time .path17:before {
	content: "\e673";
	margin-left: -3.138671875em;
	color: rgb(125, 34, 121);
}

.nf-ntipa-register .path1:before {
	content: "\e674";
	color: rgb(236, 103, 39);
}
.nf-ntipa-register .path2:before {
	content: "\e675";
	margin-left: -3.9169921875em;
	color: rgb(236, 103, 39);
}
.nf-ntipa-register .path3:before {
	content: "\e676";
	margin-left: -3.9169921875em;
	color: rgb(236, 103, 39);
}
.nf-ntipa-register .path4:before {
	content: "\e677";
	margin-left: -3.9169921875em;
	color: rgb(236, 103, 39);
}
.nf-ntipa-register .path5:before {
	content: "\e678";
	margin-left: -3.9169921875em;
	color: rgb(236, 103, 39);
}
.nf-ntipa-register .path6:before {
	content: "\e679";
	margin-left: -3.9169921875em;
	color: rgb(236, 103, 39);
}
.nf-ntipa-register .path7:before {
	content: "\e67a";
	margin-left: -3.9169921875em;
	color: rgb(236, 103, 39);
}
.nf-ntipa-register .path8:before {
	content: "\e67b";
	margin-left: -3.9169921875em;
	color: rgb(236, 103, 39);
}
.nf-ntipa-register .path9:before {
	content: "\e67c";
	margin-left: -3.9169921875em;
	color: rgb(103, 103, 103);
}
.nf-ntipa-register .path10:before {
	content: "\e67d";
	margin-left: -3.9169921875em;
	color: rgb(103, 103, 103);
}
.nf-ntipa-register .path11:before {
	content: "\e67e";
	margin-left: -3.9169921875em;
	color: rgb(103, 103, 103);
}
.nf-ntipa-register .path12:before {
	content: "\e67f";
	margin-left: -3.9169921875em;
	color: rgb(103, 103, 103);
}
.nf-ntipa-register .path13:before {
	content: "\e680";
	margin-left: -3.9169921875em;
	color: rgb(103, 103, 103);
}
.nf-ntipa-register .path14:before {
	content: "\e681";
	margin-left: -3.9169921875em;
	color: rgba(243, 147, 35, 0.4);
}
.nf-ntipa-register .path15:before {
	content: "\e682";
	margin-left: -3.9169921875em;
	color: rgba(243, 147, 35, 0.4);
}
.nf-ntipa-register .path16:before {
	content: "\e683";
	margin-left: -3.9169921875em;
	color: rgba(243, 147, 35, 0.8);
}
.nf-ntipa-register .path17:before {
	content: "\e684";
	margin-left: -3.9169921875em;
	color: rgb(243, 147, 35);
}
.nf-ntipa-register .path18:before {
	content: "\e685";
	margin-left: -3.9169921875em;
	color: rgba(243, 147, 35, 0.6);
}

.nf-ntipa-manage .path1:before {
	content: "\e686";
	color: rgb(104, 104, 104);
}
.nf-ntipa-manage .path2:before {
	content: "\e687";
	margin-left: -4.1455078125em;
	color: rgb(104, 104, 104);
}
.nf-ntipa-manage .path3:before {
	content: "\e688";
	margin-left: -4.1455078125em;
	color: rgb(104, 104, 104);
}
.nf-ntipa-manage .path4:before {
	content: "\e689";
	margin-left: -4.1455078125em;
	color: rgb(104, 104, 104);
}
.nf-ntipa-manage .path5:before {
	content: "\e68a";
	margin-left: -4.1455078125em;
	color: rgb(104, 104, 104);
}
.nf-ntipa-manage .path6:before {
	content: "\e68b";
	margin-left: -4.1455078125em;
	color: rgba(78, 86, 162, 0.4);
}
.nf-ntipa-manage .path7:before {
	content: "\e68c";
	margin-left: -4.1455078125em;
	color: rgba(78, 86, 162, 0.4);
}
.nf-ntipa-manage .path8:before {
	content: "\e68d";
	margin-left: -4.1455078125em;
	color: rgba(78, 86, 162, 0.8);
}
.nf-ntipa-manage .path9:before {
	content: "\e68e";
	margin-left: -4.1455078125em;
	color: rgb(78, 86, 162);
}
.nf-ntipa-manage .path10:before {
	content: "\e68f";
	margin-left: -4.1455078125em;
	color: rgba(78, 86, 162, 0.6);
}
.nf-ntipa-manage .path11:before {
	content: "\e690";
	margin-left: -4.1455078125em;
	color: rgb(78, 86, 162);
}
.nf-ntipa-manage .path12:before {
	content: "\e691";
	margin-left: -4.1455078125em;
	color: rgb(78, 86, 162);
}
.nf-ntipa-manage .path13:before {
	content: "\e692";
	margin-left: -4.1455078125em;
	color: rgb(78, 86, 162);
}
.nf-ntipa-manage .path14:before {
	content: "\e693";
	margin-left: -4.1455078125em;
	color: rgb(78, 86, 162);
}
.nf-ntipa-manage .path15:before {
	content: "\e694";
	margin-left: -4.1455078125em;
	color: rgb(78, 86, 162);
}
.nf-ntipa-manage .path16:before {
	content: "\e695";
	margin-left: -4.1455078125em;
	color: rgb(78, 86, 162);
}

.nf-ntipa-garden2 .path1:before {
	content: "\e696";
	color: rgb(255, 255, 255);
}
.nf-ntipa-garden2 .path2:before {
	content: "\e697";
	margin-left: -3.7607421875em;
	color: rgb(255, 255, 255);
}
.nf-ntipa-garden2 .path3:before {
	content: "\e698";
	margin-left: -3.7607421875em;
	color: rgb(255, 255, 255);
}
.nf-ntipa-garden2 .path4:before {
	content: "\e699";
	margin-left: -3.7607421875em;
	color: rgb(135, 163, 45);
}
.nf-ntipa-garden2 .path5:before {
	content: "\e69a";
	margin-left: -3.7607421875em;
	color: rgb(135, 163, 45);
}
.nf-ntipa-garden2 .path6:before {
	content: "\e69b";
	margin-left: -3.7607421875em;
	color: rgb(135, 163, 45);
}
.nf-ntipa-garden2 .path7:before {
	content: "\e69c";
	margin-left: -3.7607421875em;
	color: rgb(135, 163, 45);
}
.nf-ntipa-garden2 .path8:before {
	content: "\e69d";
	margin-left: -3.7607421875em;
	color: rgb(135, 163, 45);
}
.nf-ntipa-garden2 .path9:before {
	content: "\e69e";
	margin-left: -3.7607421875em;
	color: rgb(135, 163, 45);
}
.nf-ntipa-garden2 .path10:before {
	content: "\e69f";
	margin-left: -3.7607421875em;
	color: rgb(103, 103, 103);
}
.nf-ntipa-garden2 .path11:before {
	content: "\e6a0";
	margin-left: -3.7607421875em;
	color: rgb(103, 103, 103);
}
.nf-ntipa-garden2 .path12:before {
	content: "\e6a1";
	margin-left: -3.7607421875em;
	color: rgb(103, 103, 103);
}
.nf-ntipa-garden2 .path13:before {
	content: "\e6a2";
	margin-left: -3.7607421875em;
	color: rgb(103, 103, 103);
}
.nf-ntipa-garden2 .path14:before {
	content: "\e6a3";
	margin-left: -3.7607421875em;
	color: rgb(103, 103, 103);
}
.nf-ntipa-garden2 .path15:before {
	content: "\e6a4";
	margin-left: -3.7607421875em;
	color: rgba(151, 168, 39, 0.4);
}
.nf-ntipa-garden2 .path16:before {
	content: "\e6a5";
	margin-left: -3.7607421875em;
	color: rgba(151, 168, 39, 0.4);
}
.nf-ntipa-garden2 .path17:before {
	content: "\e6a6";
	margin-left: -3.7607421875em;
	color: rgba(151, 168, 39, 0.8);
}
.nf-ntipa-garden2 .path18:before {
	content: "\e6a7";
	margin-left: -3.7607421875em;
	color: rgb(151, 168, 39);
}
.nf-ntipa-garden2 .path19:before {
	content: "\e6a8";
	margin-left: -3.7607421875em;
	color: rgba(151, 168, 39, 0.6);
}

.nf-ntipa-fuel .path1:before {
	content: "\e6a9";
	color: rgb(255, 255, 255);
}
.nf-ntipa-fuel .path2:before {
	content: "\e6aa";
	margin-left: -2.9169921875em;
	color: rgb(255, 255, 255);
}
.nf-ntipa-fuel .path3:before {
	content: "\e6ab";
	margin-left: -2.9169921875em;
	color: rgb(255, 255, 255);
}
.nf-ntipa-fuel .path4:before {
	content: "\e6ac";
	margin-left: -2.9169921875em;
	color: rgb(103, 103, 103);
}
.nf-ntipa-fuel .path5:before {
	content: "\e6ad";
	margin-left: -2.9169921875em;
	color: rgb(103, 103, 103);
}
.nf-ntipa-fuel .path6:before {
	content: "\e6ae";
	margin-left: -2.9169921875em;
	color: rgb(103, 103, 103);
}
.nf-ntipa-fuel .path7:before {
	content: "\e6af";
	margin-left: -2.9169921875em;
	color: rgb(103, 103, 103);
}
.nf-ntipa-fuel .path8:before {
	content: "\e6b0";
	margin-left: -2.9169921875em;
	color: rgb(103, 103, 103);
}
.nf-ntipa-fuel .path9:before {
	content: "\e6bf";
	margin-left: -2.9169921875em;
	color: rgba(16, 141, 146, 0.4);
}
.nf-ntipa-fuel .path10:before {
	content: "\e6c0";
	margin-left: -2.9169921875em;
	color: rgba(16, 141, 146, 0.4);
}
.nf-ntipa-fuel .path11:before {
	content: "\e6c1";
	margin-left: -2.9169921875em;
	color: rgba(16, 141, 146, 0.8);
}
.nf-ntipa-fuel .path12:before {
	content: "\e6c2";
	margin-left: -2.9169921875em;
	color: rgb(16, 141, 146);
}
.nf-ntipa-fuel .path13:before {
	content: "\e6c3";
	margin-left: -2.9169921875em;
	color: rgba(16, 141, 146, 0.6);
}
.nf-ntipa-fuel .path14:before {
	content: "\e6c4";
	margin-left: -2.9169921875em;
	color: rgb(16, 141, 146);
}
.nf-ntipa-fuel .path15:before {
	content: "\e6c5";
	margin-left: -2.9169921875em;
	color: rgb(16, 141, 146);
}
.nf-ntipa-fuel .path16:before {
	content: "\e6c6";
	margin-left: -2.9169921875em;
	color: rgb(16, 141, 146);
}
.nf-ntipa-fuel .path17:before {
	content: "\e6c7";
	margin-left: -2.9169921875em;
	color: rgb(16, 141, 146);
}

.nf-ntipa-street .path1:before {
	content: "\e6c8";
	color: rgb(255, 255, 255);
}
.nf-ntipa-street .path2:before {
	content: "\e6c9";
	margin-left: -3.548828125em;
	color: rgb(255, 255, 255);
}
.nf-ntipa-street .path3:before {
	content: "\e6ca";
	margin-left: -3.548828125em;
	color: rgb(255, 255, 255);
}
.nf-ntipa-street .path4:before {
	content: "\e6cb";
	margin-left: -3.548828125em;
	color: rgba(245, 196, 6, 0.4);
}
.nf-ntipa-street .path5:before {
	content: "\e6cc";
	margin-left: -3.548828125em;
	color: rgba(245, 196, 6, 0.4);
}
.nf-ntipa-street .path6:before {
	content: "\e6cd";
	margin-left: -3.548828125em;
	color: rgba(245, 196, 6, 0.8);
}
.nf-ntipa-street .path7:before {
	content: "\e6ce";
	margin-left: -3.548828125em;
	color: rgb(245, 196, 6);
}
.nf-ntipa-street .path8:before {
	content: "\e6cf";
	margin-left: -3.548828125em;
	color: rgba(245, 196, 6, 0.6);
}
.nf-ntipa-street .path9:before {
	content: "\e6d0";
	margin-left: -3.548828125em;
	color: rgb(103, 103, 103);
}
.nf-ntipa-street .path10:before {
	content: "\e6e1";
	margin-left: -3.548828125em;
	color: rgb(103, 103, 103);
}
.nf-ntipa-street .path11:before {
	content: "\e6e2";
	margin-left: -3.548828125em;
	color: rgb(103, 103, 103);
}
.nf-ntipa-street .path12:before {
	content: "\e6e3";
	margin-left: -3.548828125em;
	color: rgb(103, 103, 103);
}
.nf-ntipa-street .path13:before {
	content: "\e6e4";
	margin-left: -3.548828125em;
	color: rgb(103, 103, 103);
}
.nf-ntipa-street .path14:before {
	content: "\e6e5";
	margin-left: -3.548828125em;
	color: rgb(223, 168, 3);
}
.nf-ntipa-street .path15:before {
	content: "\e6e6";
	margin-left: -3.548828125em;
	color: rgb(223, 168, 3);
}
.nf-ntipa-street .path16:before {
	content: "\e6e7";
	margin-left: -3.548828125em;
	color: rgb(223, 168, 3);
}
.nf-ntipa-street .path17:before {
	content: "\e6e8";
	margin-left: -3.548828125em;
	color: rgb(223, 168, 3);
}
.nf-ntipa-street .path18:before {
	content: "\e6e9";
	margin-left: -3.548828125em;
	color: rgb(223, 168, 3);
}
.nf-ntipa-street .path19:before {
	content: "\e6ea";
	margin-left: -3.548828125em;
	color: rgb(223, 168, 3);
}

.nf-file-foglio-calcolo:before {
	content: "\e6d1";
}

.nf-file-testo:before {
	content: "\e6d2";
}

.nf-file-presentazione:before {
	content: "\e6d3";
}

.nf-file-video:before {
	content: "\e6d4";
}

.nf-file-audio:before {
	content: "\e6d5";
}

.nf-file-codice:before {
	content: "\e6d6";
}

.nf-file-excel:before {
	content: "\e6d7";
}

.nf-file-word:before {
	content: "\e6d8";
}

.nf-file-powerpoint:before {
	content: "\e6d9";
}

.nf-file-musicale:before {
	content: "\e6da";
}

.nf-file-immagine:before {
	content: "\e6db";
}

.nf-file-protocollo:before {
	content: "\e6dc";
}

.nf-formato-sconosciuto:before {
	content: "\e6dd";
}

.nf-file-zip:before {
	content: "\e6de";
}

.nf-cartella-zip:before {
	content: "\e6df";
}

.nf-cartella:before {
	content: "\e6e0";
}

.nf-ntipa-box .path1:before {
	content: "\e6b1";
	color: rgb(17, 120, 186);
}
.nf-ntipa-box .path2:before {
	content: "\e6b2";
	margin-left: -3.0068359375em;
	color: rgb(17, 120, 186);
}
.nf-ntipa-box .path3:before {
	content: "\e6b3";
	margin-left: -3.0068359375em;
	color: rgb(17, 120, 186);
}
.nf-ntipa-box .path4:before {
	content: "\e6b4";
	margin-left: -3.0068359375em;
	color: rgb(17, 120, 186);
}
.nf-ntipa-box .path5:before {
	content: "\e6b5";
	margin-left: -3.0068359375em;
	color: rgb(17, 120, 186);
}
.nf-ntipa-box .path6:before {
	content: "\e6b6";
	margin-left: -3.0068359375em;
	color: rgb(0, 153, 205);
}
.nf-ntipa-box .path7:before {
	content: "\e6b7";
	margin-left: -3.0068359375em;
	color: rgb(0, 153, 205);
}
.nf-ntipa-box .path8:before {
	content: "\e6b8";
	margin-left: -3.0068359375em;
	color: rgb(0, 153, 205);
}
.nf-ntipa-box .path9:before {
	content: "\e6b9";
	margin-left: -3.0068359375em;
	color: rgb(2, 103, 154);
}
.nf-ntipa-box .path10:before {
	content: "\e6ba";
	margin-left: -3.0068359375em;
	color: rgba(0, 153, 205, 0.1);
}
.nf-ntipa-box .path11:before {
	content: "\e6bb";
	margin-left: -3.0068359375em;
	color: rgba(0, 153, 205, 0.3);
}
.nf-ntipa-box .path12:before {
	content: "\e6bc";
	margin-left: -3.0068359375em;
	color: rgba(0, 153, 205, 0.8);
}
.nf-ntipa-box .path13:before {
	content: "\e6bd";
	margin-left: -3.0068359375em;
	color: rgba(0, 153, 205, 0.4);
}
.nf-ntipa-box .path14:before {
	content: "\e6be";
	margin-left: -3.0068359375em;
	color: rgba(0, 153, 205, 0.2);
}

.nf-aggiorna:before {
	content: "\e600";
}

.nf-aggiungi-cartella:before {
	content: "\e601";
}

.nf-aggiungi:before {
	content: "\e602";
}

.nf-allegati:before {
	content: "\e603";
}

.nf-amministrazione:before {
	content: "\e604";
}

.nf-anno-registro:before {
	content: "\e605";
}

.nf-annulla-tutto:before {
	content: "\e606";
}

.nf-annulla:before {
	content: "\e607";
}

.nf-anteprime:before {
	content: "\e608";
}

.nf-apri-modifica:before {
	content: "\e609";
}

.nf-attivita:before {
	content: "\e60a";
}

.nf-audit:before {
	content: "\e60b";
}

.nf-azioni:before {
	content: "\e60c";
}

.nf-cancellazione:before {
	content: "\e60d";
}

.nf-cerca-fascicolo:before {
	content: "\e60e";
}

.nf-cerca:before {
	content: "\e60f";
}

.nf-certificati:before {
	content: "\e610";
}

.nf-cestino:before {
	content: "\e62d";
}

.nf-check:before {
	content: "\e612";
}

.nf-chiudi:before {
	content: "\e613";
}

.nf-condividi:before {
	content: "\e614";
}

.nf-conversazione:before {
	content: "\e615";
}

.nf-copia:before {
	content: "\e616";
}

.nf-crea-fascicolo:before {
	content: "\e617";
}

.nf-creazione:before {
	content: "\e618";
}

.nf-data-protocollo:before {
	content: "\e619";
}

.nf-deseleziona:before {
	content: "\e61a";
}

.nf-down:before {
	content: "\e61b";
}

.nf-download:before {
	content: "\e61c";
}

.nf-fascicolo:before {
	content: "\e61d";
}

.nf-filtro:before {
	content: "\e61e";
}

.nf-gestione-pec:before {
	content: "\e61f";
}

.nf-grafico:before {
	content: "\e620";
}

.nf-griglia:before {
	content: "\e621";
}

.nf-help:before {
	content: "\e622";
}

.nf-home:before {
	content: "\e623";
}

.nf-impostazioni:before {
	content: "\e624";
}

.nf-incolla:before {
	content: "\e625";
}

.nf-info:before {
	content: "\e626";
}

.nf-left:before {
	content: "\e627";
}

.nf-lista:before {
	content: "\e628";
}

.nf-log-out:before {
	content: "\e629";
}

.nf-metrics:before {
	content: "\e62a";
}

.nf-notifiche:before {
	content: "\e62c";
}

.nf-occhio:before {
	content: "\e648";
}

.nf-ordinamento-down:before {
	content: "\e62e";
}

.nf-ordinamento-gen-down:before {
	content: "\e62f";
}

.nf-ordinamento-gen-up:before {
	content: "\e630";
}

.nf-ordinamento-up:before {
	content: "\e631";
}

.nf-pagina:before {
	content: "\e632";
}

.nf-password:before {
	content: "\e633";
}

.nf-pdf:before {
	content: "\e634";
}

.nf-pec-letta:before {
	content: "\e635";
}

.nf-pec:before {
	content: "\e636";
}

.nf-preferito:before {
	content: "\e637";
}

.nf-proprieta:before {
	content: "\e638";
}

.nf-proprietario:before {
	content: "\e639";
}

.nf-protocollo-emergenza:before {
	content: "\e63a";
}

.nf-protocollo-entrata:before {
	content: "\e63b";
}

.nf-protocollo-interno:before {
	content: "\e63c";
}

.nf-protocollo-uscita:before {
	content: "\e63d";
}

.nf-protocollo:before {
	content: "\e63e";
}

.nf-qr:before {
	content: "\e63f";
}

.nf-repertori:before {
	content: "\e640";
}

.nf-report-anno:before {
	content: "\e641";
}

.nf-report-giorno:before {
	content: "\e642";
}

.nf-report-mese:before {
	content: "\e643";
}

.nf-revisioni:before {
	content: "\e644";
}

.nf-ricerca-avanzata:before {
	content: "\e645";
}

.nf-right:before {
	content: "\e646";
}

.nf-rinomina:before {
	content: "\e647";
}

.nf-salva-db:before {
	content: "\e655";
}

.nf-salva:before {
	content: "\e649";
}

.nf-scrittura:before {
	content: "\e64a";
}

.nf-seleziona:before {
	content: "\e64b";
}

.nf-solr:before {
	content: "\e64c";
}

.nf-sposta:before {
	content: "\e64d";
}

.nf-storico:before {
	content: "\e64e";
}

.nf-struttura:before {
	content: "\e64f";
}

.nf-tag:before {
	content: "\e650";
}

.nf-taglia:before {
	content: "\e651";
}

.nf-testo:before {
	content: "\e652";
}

.nf-unlock:before {
	content: "\e653";
}

.nf-up:before {
	content: "\e654";
}

.nf-upload-db:before {
	content: "\e6f0";
}

.nf-upload:before {
	content: "\e656";
}

.nf-user:before {
	content: "\e657";
}

.nf-worklist:before {
	content: "\e658";
}

